body {
    font-family: Arial;
    margin: 0;
    background: #f5f5f5;
}

/* Auth box */
.center-box {
    width: 350px;
    padding: 20px;
    background: white;
    margin: 80px auto;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 8px rgba(0,0,0,0.1);
}

input {
    width: 90%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 6px;
    border: 1px solid #ccc;
}

button {
    width: 95%;
    padding: 12px;
    background: #0d8a5c;
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background: #0a6c45;
}

/* Dashboard */
#dashboard {
    display: flex;
    height: 100vh;
}

header {
    background: #0d8a5c;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
}

.sidebar {
    width: 200px;
    background: #ffffff;
    border-right: 1px solid lightgray;
    padding: 15px;
}

.sidebar button {
    width: 100%;
    margin-bottom: 10px;
    background: #0d8a5c;
}

.main {
    padding: 20px;
    flex-grow: 1;
}

.hidden {
    display: none;
}

ul {
    background: white;
    padding: 10px;
    border-radius: 8px;
}
